*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: linear-gradient(90deg,  #f1f1f3, #4C1F7A ) 
}
#static-resume{
    max-width: 1000px;
    background-color: skyblue;
    /* margin: auto; */
    display: flex;
    margin: 50px auto;
   


}
#left-small-part{
    padding: 40px;
    background-color: #4C1F7A;
    width: 35%;
   
}
#left-small-part h2{
    text-align: left;
    color: #EEEEEE;
}

#profile-image{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: auto;
    border:5px solid #FF8000;
    border-radius: 50%;
    
}
#profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
#profile-name{
    /* margin: auto; */
  border-bottom: 0.5px solid rgba(146, 142, 142, 0.5);
  margin-top: 10PX;
}
#profile-name h1,p{
    color: #EEEEEE;
    text-align: center;
}

#profile-name p{
    margin-bottom: 20px;
    font-size: 20px;
}
#contact-info{
    margin: auto;
    /* background-color: yellow; */
    padding:30px 0px ;
}
/* #contact-info h2{
    text-align: center;
    color: #EEEEEE;
} */
#icons{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: yellow; */
  flex-wrap: wrap;
  padding: 20px 18px;
  margin: auto;
}
#icons p{
    color: #EEEEEE;
    font-size: 15px;
    font-weight: 700;
}
#mobile{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#mobile p{
    margin-left: 10px;
}
#email{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#email p{
    margin-left: 10px;
}
#linkdin{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#linkdin p{
    margin-left: 10px;
}
#linkdin p a{
    text-decoration: none;
    color: #EEEEEE;
}
#location{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#location p{
    margin-left: 10px;
}

/* Education-sec.................................................................................... */
#education-sec{
    margin: auto;
    /* background-color: yellow; */
    padding:20px 0px ;
    margin-top: 40px;
}
#education-sec p{
    text-align: left;
    padding-top: 20px;
 
}
.text-colloege{
    color: #FF8000;
    font-size: 18px;
}
#language-sec{
    margin: auto;
    /* background-color: yellow; */
    padding:20px 0px ;
    margin-top: 40px;
}
#language-sec p{
    text-align: left;
    padding:10px 0px ;
}
.bar{
    /* background-color: #EEEEEE; */
    height: 5px;
}
.fill-bar-urdu{
    background-color: #FF8000;
    display: block; 
    height: 100%;
     /* background-color: #4caf50; */
      text-align: center; 
      line-height: 25px;
       color: white;
}
/* right-large-part................................................................................... */
#right-large-part{
    padding: 40px;
    background-color: #f1f1f3;
    width: 65%;
}
#right-large-part h2{
  font-weight: 800;
  /* color: #FF8000; */
  color: #daa520;
  margin-bottom: 10px;
}
#right-large-part p{
    color: #333333;
    /* background-color: yellow; .*/
   
    text-align: left;
    line-height: 22px;
}
.container-exper{
    display: flex;
    margin-top: 40px;
   
}
#experience-section{
    margin-top: 50px;
}
#experience-section h5{
text-align: left;
font-size: 1.60vw;
color: #333333;
}
#experience-section h4{
    text-align: left;
    font-size: 1.70vw;
    color: #dba520;
    }
#item1{
    width: 30%;
    /* background-color: yellow; */
}
#item2{
    width: 70%;
    /* background-color: blue; */
}


/* skill-section...................................................................................... */
#skill-section{
    margin-top: 120px;
    /* background-color: yellow; */
   display: none;
}

/* this button created in typescript not html */
.btn-skill{
padding: 15px 25px;
width: 141px;
height: 46px;
border: none;
cursor: pointer;
background: linear-gradient(90deg, #4C1F7A, #daa520);
color: #ffffff;
text-decoration: none;
margin: 4px 2px;
border-radius: 5px;
transition: background 0.3s ease;
position: absolute;
top: 0;
right: 0;
}
/* .btn-skill:hover { background: linear-gradient(90deg, #daa520, #4C1F7A)}; */
 .btn-skill:hover{
    background: linear-gradient(90deg, #daa520, #4C1F7A)
 }

 #btn-section{
margin-top: 50px;
/* background-color: blue; */
position: relative;
 }



 .skills-define-container{
    margin-top: 20px;
    display: flex;
   
   
    align-items: center;
    margin-bottom:10px ;
    /* background-color: red; */
 }
 .skill-name{
    width: 30%;
    
    font-weight: 700;
    /* background-color: blue; */
   
 }
 .skill-bar{
    width: 70%;
    background-color: #ffffff;
      border-radius: 5px; 
      border: 0.5px solid black;
      overflow: hidden; 
      display: inline-block; 
      vertical-align: middle;
       height: 10px;
       /* margin-left: 20px; */
 }
 .skill-fil{
    background-color: #FF8000;
    height: 100%; 
    transition: width 0.3s
 }


 /* interse-section....................................................................................... */
 #interse-section{
    margin-top: 25px;
    /* background-color: blue; */
    padding-top: 60px;
 }

.hobbies{
    color: #333333;
    font-size: 18px;
    font-weight: 700;
}
#hobbies-con{
    display: flex;
    gap: 30px;
    padding-top:20px ;
}

@media (max-width:599px) {
    #static-resume{
        max-width: 100%;
        background-color: skyblue;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    #left-small-part{
        padding: 40px;
        background-color: #4C1F7A;
        width: 100%;
     
       
    }
    #right-large-part{
        padding: 40px;
        background-color: #f1f1f3;
        margin: auto;
        width: 100%;
       
    }
    #right-large-part p{
        color: #333333;
       /* background-color: yellow; */
        text-align: left;
        line-height: 22px;
      
        

    }
    .container-exper{
        display: flex;
        flex-direction: column;
       
    }
   
    #experience-section h4{
        font-size: 3.2vw;
       
        margin-top: 5px;
        
    }
    #experience-section h5{
     
       /* background-color: blue; */
        font-size: 4vw;
       
    }
    #hobbies-con{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top:20px ;
    }
    .skills-define-container{
        display: flex;
        flex-direction: column;
      
        align-items: flex-start;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    #static-resume{
        max-width: 100%;
        background-color: skyblue;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    #left-small-part{
        padding: 40px;
        background-color: #4C1F7A;
        width: 100%;
     
       
    }
    #right-large-part{
        padding: 40px;
        background-color: #f1f1f3;
        margin: auto;
        width: 100%;
       
    }
    #right-large-part p{
        color: #333333;
       /* background-color: yellow; */
        text-align: left;
        line-height: 22px;
      
        

    }
    .container-exper{
        display: flex;
        flex-direction: column;
       
    }
   
    #experience-section h4{
        font-size: 2.5vw;
       
        margin-top: 5px;
        
    }
    #experience-section h5{
     
       /* background-color: blue; */
        font-size: 4vw;
       
    }
    #hobbies-con{
        display: flex;
       
        gap: 30px;
        padding-top:20px ;
    }
    .skills-define-container{
        display: flex;
     
      
        align-items: flex-start;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #static-resume{
        max-width: 100%;
        background-color: skyblue;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    #left-small-part{
        padding: 40px;
        background-color: #4C1F7A;
        width: 100%;
     
       
    }
    #right-large-part{
        padding: 40px;
        background-color: #f1f1f3;
        margin: auto;
        width: 100%;
       
    }
    #right-large-part p{
        color: #333333;
       /* background-color: yellow; */
        text-align: left;
        line-height: 22px;
      
        

    }
    .container-exper{
        display: flex;
        flex-direction: column;
       
    }
   
    #experience-section h4{
        font-size: 2.5vw;
       
        margin-top: 5px;
        
    }
    #experience-section h5{
     
       /* background-color: blue; */
        font-size: 4vw;
       
    }
    #hobbies-con{
        display: flex;
       
        gap: 30px;
        padding-top:20px ;
    }
    .skills-define-container{
        display: flex;
     
      
        align-items: flex-start;
    }
}

